HR-бот · Workflow 1 · Наповнення бази знань.json
{
  "name": "HR-бот · Workflow 1 · Наповнення бази знань",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 1 — Синхронізація бази з Google Drive\n\nКидаєте доки у папку → Start → у базу потрапляють ТІЛЬКИ нові та змінені файли.\n\nОблік: у metadata кожного шматка лежить file_id + modified_time з Drive.\nIF порівнює кожен файл папки з базою: новий/змінений → true (старі шматки видаляються, файл перезаливається). Неторкнутий → false, пропуск.\n\nОкрема таблиця обліку не потрібна — база знань і є облік.",
        "height": 500,
        "width": 1420,
        "color": 4
      },
      "id": "3f8a7aff-1305-40bb-ac7f-9c5ad94dc268",
      "name": "Sticky Note abec1f46",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        96
      ]
    },
    {
      "parameters": {},
      "id": "21d4dc1a-6fbb-4e76-a5b9-575fee3cce2b",
      "name": "Start (синхронізувати базу)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "returnAll": true,
        "filterType": "string",
        "filterString": "select=metadata"
      },
      "id": "99d83497-80a4-4737-9f77-0a9a6e70d7ef",
      "name": "Що вже у базі?",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "nRvQ3uE7j1zQHFBW",
          "name": "HR_"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1S14CPMcNPiTqggxj4G3IVY27q6DvA-fG",
            "cachedResultName": "HR_RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1S14CPMcNPiTqggxj4G3IVY27q6DvA-fG"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "c7725a46-8c86-48b7-82a8-ea90c0451282",
      "name": "Файли з папки HR (Google Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        304
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9xCdmskLThtz3GWC",
          "name": "bazasklad3g makecomcred"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-new-or-changed",
              "leftValue": "={{ !$('Що вже у базі?').all().some(r => (r.json.metadata || {}).file_id === $json.id && (r.json.metadata || {}).modified_time === $json.modifiedTime) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a0e5fcd-2dc0-4017-8626-accce2ce1980",
      "name": "Файл новий або змінений?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "id": "9632e058-d897-44fe-8956-1d07243bda96",
      "name": "Видалити старі шматки файлу",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "nRvQ3uE7j1zQHFBW",
          "name": "HR_"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "501ce5f6-1a9c-4e19-a6af-44867dd1b420",
      "name": "Завантажити документ",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9xCdmskLThtz3GWC",
          "name": "bazasklad3g makecomcred"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "1dfa2f8b-d748-4407-a245-6c6e516d1ec1",
      "name": "Записати у Supabase (база знань)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1360,
        448
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nRvQ3uE7j1zQHFBW",
          "name": "HR_"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "326addc1-cf72-4a25-8e68-f6cf46b3d426",
      "name": "Embeddings (text-embedding-3-small)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        672
      ],
      "credentials": {
        "openAiApi": {
          "id": "uoXKGQABT5EXmLBt",
          "name": "Bazasklad"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Файли з папки HR (Google Drive)').item.json.name }}"
              },
              {
                "name": "file_id",
                "value": "={{ $('Файли з папки HR (Google Drive)').item.json.id }}"
              },
              {
                "name": "modified_time",
                "value": "={{ $('Файли з папки HR (Google Drive)').item.json.modifiedTime }}"
              }
            ]
          }
        }
      },
      "id": "14c4c22e-0540-4fb9-a3bc-ff582e6bdaac",
      "name": "Прочитати HR-документ",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1488,
        672
      ]
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "19018188-9a11-43c4-b0d8-ae7a4c39a980",
      "name": "Розрізати на шматки (800/100)",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        832
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start (синхронізувати базу)": {
      "main": [
        [
          {
            "node": "Що вже у базі?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Що вже у базі?": {
      "main": [
        [
          {
            "node": "Файли з папки HR (Google Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Файли з папки HR (Google Drive)": {
      "main": [
        [
          {
            "node": "Файл новий або змінений?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Файл новий або змінений?": {
      "main": [
        [
          {
            "node": "Видалити старі шматки файлу",
            "type": "main",
            "index": 0
          },
          {
            "node": "Завантажити документ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Завантажити документ": {
      "main": [
        [
          {
            "node": "Записати у Supabase (база знань)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (text-embedding-3-small)": {
      "ai_embedding": [
        [
          {
            "node": "Записати у Supabase (база знань)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Прочитати HR-документ": {
      "ai_document": [
        [
          {
            "node": "Записати у Supabase (база знань)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Розрізати на шматки (800/100)": {
      "ai_textSplitter": [
        [
          {
            "node": "Прочитати HR-документ",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "41050975-d1bb-4b9e-a155-56db1d653df8",
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "CZNSe6wdxk9yZxr2",
  "tags": []
}